<mat-toolbar
  class="mat-toolbar-2"
  [ngClass]="{ collapsed: !isSidenavExpanded }"
>
  <h1>Paciente</h1>
  <span class="mat-toolbar-spacer"></span>
  <button
    matTooltip="Lista de Pacientes"
    mat-icon-button
    color=""
    class="my-button"
    aria-label="Example icon-button with heart icon"
    routerLink="pacienteList"
  >
    <i class="fa-solid fa-list"></i>
  </button>
  <button
    color=""
    matTooltip="Agregar un nuevo paciente"
    mat-icon-button
    class="my-button"
    aria-label="Example icon-button with share icon"
    routerLink="pacienteAdd"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
</mat-toolbar>
<div class="paciente-container">
  <router-outlet />
</div>
