.mat-toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 64px;
  left: 200px;
  z-index: 3;
  width: calc(100% - 200px);
  transition: left 0.3s, width 0.3s;

  &.collapsed {
    left: 0; /* Ancho cuando el sidenav está colapsado */
    width: 100%;
  }

  @media (max-width: 720px) {
    left: 50px;
    width: calc(100% - 50px);

    &.collapsed {
      left: 0;
      width: 100%;
    }
  }
}

.paciente-container {
  padding: 20px;
  margin: 0;
  margin-top: 64px;
}
