<mat-toolbar>
  <span>Paciente</span>
  <span class="mat-toolbar-spacer"></span>
  <button
    matTooltip="Lista de Pacientes"
    mat-icon-button
    class="my-button my-button-list"
    aria-label="Example icon-button with heart icon"
    routerLink="pacienteList"
  >
    <mat-icon>list</mat-icon>
  </button>
  <button
    matTooltip="Agregar un nuevo paciente"
    mat-icon-button
    class="my-button my-button-add"
    aria-label="Example icon-button with share icon"
    routerLink="pacienteAdd"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div class="paciente-container">
  <router-outlet />
</div>
