mat-sidenav-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1;
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: rgb(233, 233, 233);
  padding-top: 56px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.255);
  border-right: 1px solid rgb(189, 189, 189);
  border-radius: 0px !important;

  transition: width 0.3s ease;

  @media (max-width: 720px) {
    width: 50px;
  }
}

mat-sidenav-content {
  padding: 0px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.my-button {
  font-size: 12pt;
  padding: 6px;
  margin-left: 5px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.menu-item {
  border-radius: 4px !important;
}

.icon-item {
  width: 20px;
}
