<mat-card>
  <mat-card-content>
    <div class="header-container">
      <h1 mat-dialog-title>Detalle del Paciente</h1>
      <button
        mat-icon-button
        mat-dialog-close
        class="close-button my-button"
        aria-label="Close"
      >
        <i class="fa-solid fa-close"></i>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
      <p><strong>Nombre:</strong> {{ data.nombre }}</p>
      <p><strong>Apellido:</strong> {{ data.apellido }}</p>
      <p><strong>Cédula de Identidad:</strong> {{ data.cedula_identidad }}</p>
      <p><strong>Nro. Teléfono:</strong> {{ data.telefono }}</p>
      <p><strong>Email:</strong> {{ data.correo_electronico }}</p>
      <p><strong>Dirección:</strong> {{ data.direccion }}</p>
      <p><strong>Fecha de N.:</strong> {{ data.fecha_nacimiento }}</p>
      <p>
        <strong>Género:</strong>
        {{ data.genero == "F" ? "Femenino" : "Masculino" }}
      </p>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button class="mat-elevation-z2">
        <!--[disabled]="isLoading || !loginForm.valid" esto va en button-->
        <i class="fa-solid fa-plus"></i>
        Consulta
      </button>
    </div>
  </mat-card-content>
</mat-card>
