.table {
  border-color: 1px solid rgb(218, 218, 218);
}

.paciente-list-card {
  border: 1px solid #dbdbdb;
}

.paciente-list-card-header {
  margin-bottom: 10px;
  display: block;
  /*justify-content: space-between;*/
}

mat-form-field {
  width: 100%;
  margin-top: 5px;
}
