.login-container {
  padding-top: 80px;
}

.login-card {
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  .mat-card-title {
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 10px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin-bottom: 20px;
    }
  }
}

.login-card-header {
  margin-bottom: 25px;
}

.button-register {
  margin: 20px;
  text-align: center;
}
