<div class="main-login">
  <div class="login-image"></div>
  <div class="login-container">
    <div class="login-title"><i class="fas fa-user-circle"></i> Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          - El nombre de usuario es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.get('username')?.hasError('whitespace')">
          - No puede contener sólo espacios en blanco
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          type="button"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          - El password es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('whitespace')">
          - No puede contener sólo espacios en blanco
        </mat-error>
      </mat-form-field>
      <div class="captcha">
        <app-captcha [formGroup]="loginForm">image</app-captcha>
      </div>
      <div class="captcha">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="mat-flat-button mat-elevation-z2"
          [disabled]="loginForm.invalid"
        >
          <!--[disabled]="isLoading || !loginForm.valid" esto va en button-->
          <mat-icon>login</mat-icon>
          Iniciar Sesión
        </button>
      </div>
      <mat-progress-bar
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-bar>
    </form>
    <div
      class="button-register"
      routerLink="register"
      routerLinkActive="router-link-active"
    >
      <a mat-button>Registrate aquí</a>
    </div>
  </div>
</div>
